.form{
    width: 85vw;
    height: 85vh;
    box-shadow: 6vh 6vh 12vh 4vh rgba(10, 125, 186, 0.49);
    position: absolute;
    bottom: 10vh;
    z-index: 222;
    background-color: white;
    right: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.form::after body{
    overflow: hidden;
}


input, button, select{
    width: 35vw;
    height: 5vh;
    margin-right: auto;
    margin-left: auto;
}

input::placeholder, input, select{
    text-align: center;
}

.exitButton{
    width: 5vw;
    border: none;
    margin-right:0vw;
    margin-top: -11.8vh;
}
.exitButton:hover{
    background-color: black;
    color: aliceblue;
    transition: 0.5s;
}